


/* Estilos padrão para todos os tamanhos de tela */
.container {
    width: 80%;
    margin: 0 auto;
}

.parceiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parceiro {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.parceiro img {
max-width: 0 auto;    height: auto;
}

.parceiro p {
    margin-top: 10px;
}

/* Media query para dispositivos com largura de tela menor ou igual a 768px (dispositivos móveis) */
@media only screen and (max-width: 768px) {
    .parceiro {
        width: calc(50% - 20px);
    }
}

/* Media query para dispositivos com largura de tela menor ou igual a 480px (dispositivos móveis pequenos) */
@media only screen and (max-width: 480px) {
    .parceiro {
        width: 100%;
    }
}

/* Estilos padrão para todos os tamanhos de tela */
.float-left {
    float: left;
    margin-right: 20px;
}

.caixa {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.nuvem {
    background-color: #cfd8dc;
    padding: 20px;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 para vídeos responsivos */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}

/* Media query para dispositivos com largura de tela menor ou igual a 768px (dispositivos móveis) */
@media only screen and (max-width: 768px) {
    .float-left {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* Media query para dispositivos com largura de tela menor ou igual a 480px (dispositivos móveis pequenos) */
@media only screen and (max-width: 480px) {
    .caixa,
    .nuvem {
        padding: 10px;
    }
}
/* Adicione media queries para ajustar o layout em dispositivos menores */
@media (max-width: 600px) {
    .nuvem {
        width: 95%; /* Reduza a largura para dispositivos menores */
        height: auto; /* Defina a altura como automática para permitir ajustes de altura */
        line-height: normal; /* Restaure a altura normal da linha */
    }
}


/* Estilos padrão para todos os tamanhos de tela */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gradiente-header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #34495e;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

section {
    padding: 20px;
}

section h2 {
    color: #3498db;
}

.footer4 {
    line-height: 1;
    
}

/* Estilos para ícones de mídia social */
.social-icons {
    text-align: center;
    margin-bottom: 20px;
}

.social-icons a {
    color: #3498db;
    font-size: 24px;
    margin: 0 10px;
}

/* Estilos para o logotipo */
.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    width: 200px; /* Ajuste conforme necessário */
}

/* Media query para dispositivos com largura de tela menor ou igual a 768px (dispositivos móveis) */
@media only screen and (max-width: 768px) {
    nav a {
        display: block;
        padding: 10px 0;
    }
}
